<header>

    <div class="container navbar">

      <a href="index.html" class="logo" data-local-link="index.html">
        <img src="/assets/images/eacc-white-logo.webp" alt="EACC Logo">
      </a>

      <nav class="nav-links" id="navLinks">

        <a href="index.html" data-local-link="index.html"><span>Home</span></a>

        <div class="dropdown">
          <a href="summer-camp-2026.html" data-local-link="summer-camp-2026.html"><span>Summer Camp 2026</span><i class="fa-solid fa-chevron-down"></i></a>
          <div class="dropdown-menu">
            <a href="summer-camp-2026.html#top" data-local-link="summer-camp-2026.html#top">Overview</a>
            <a href="summer-camp-2026.html#program" data-local-link="summer-camp-2026.html#program">Programs & Activities</a>
            <a href="summer-camp-2026.html#enroll" data-local-link="summer-camp-2026.html#enroll">Schedule & Fees</a>
            <a href="summer-camp-2026.html#partners" data-local-link="summer-camp-2026.html#partners">Previous Camps</a>
            <a href="summer-camp-2026.html#summer-camp-faqs" data-local-link="summer-camp-2026.html#summer-camp-faqs">Frequently Asked Questions</a>

           
          </div>
        </div>

        <div class="dropdown">
          <a href="index.html#services" data-local-link="index.html#services"><span>Our Services</span><i class="fa-solid fa-chevron-down"></i></a>
          <div class="dropdown-menu">
              <a href="Our Services/langauge-academy/language-acad.html" data-local-link="Our Services/langauge-academy/language-acad.html">Language Academy</a>
              <a href="Our Services/kids-youth.html" data-local-link="Our Services/kids-youth.html">Kids & Youth Development Academy</a>
            <!-- <a href="../Our Services/langauge-academy/eng/kids.html" data-local-link="Our Services/langauge-academy/eng/kids.html">English for Kids</a>
            <a href="../Our Services/langauge-academy/eng/youth.html" data-local-link="Our Services/langauge-academy/eng/youth.html">Teen Programs</a>
            <a href="#robotics-lab">Robotics Lab</a>
            <a href="#robotics-lab">Workshops</a> -->
            <a href="../Our Services/international-exams.html" data-local-link="Our Services/international-exams.html">International Exam Preparation</a>
            <a href="../Our Services/online-lang.html" data-local-link="Our Services/online-lang.html">Online Language Center</a>


          </div>
        </div>

        <div class="dropdown">
          <a href="mindspace.html" data-local-link="mindspace.html"><span>MindSpace</span><i class="fa-solid fa-chevron-down"></i></a>
          <div class="dropdown-menu">
            <a href="mindspace.html#about" data-local-link="mindspace.html#about">About MindSpace</a>
            <a href="mindspace.html#services" data-local-link="mindspace.html#services">Therapy Services</a>
            <a href="mindspace.html#assessment" data-local-link="mindspace.html#assessment">Assessments</a>
            <a href="mindspace.html#family" data-local-link="mindspace.html#family">Family Support</a>
            <a href="mindspace.html#family" data-local-link="mindspace.html#family">Professional Workshops</a>
            <a href="mindspace.html#contact" data-local-link="mindspace.html#contact">Book an Appointment</a>
          </div>
        </div>

        <div class="dropdown">
          <a href="testing-centre.html" data-local-link="testing-centre.html"><span>Testing Center</span><i class="fa-solid fa-chevron-down"></i></a>
          <div class="dropdown-menu">
            <a href="testing-centre/tofel.html" data-local-link="testing-centre/tofel.html">TOEFL</a>
            <a href="testing-centre/celi-cils.html" data-local-link="testing-centre/celi-cils.html">CELI &amp; CILS</a>
            <a href="testing-centre/placment-test.html" data-local-link="testing-centre/placment-test.html">Placement Test</a>
            <a href="testing-centre/Psychological-assessment.html" data-local-link="testing-centre/Psychological-assessment.html">Psychological Assessment</a>
          </div>
        </div>

        
        <a href="corporate-train.html" data-local-link="corporate-train.html">Corporate Training</a>

        <div class="dropdown">
          <a href="about-us/our-story.html" data-local-link="about-us/our-story.html"><span>About</span><i class="fa-solid fa-chevron-down"></i></a>
          <div class="dropdown-menu">
            <a href="about-us/our-story.html" data-local-link="about-us/our-story.html">Our Story</a>
            <a href="about-us/leadership.html" data-local-link="about-us/leadership.html">Leadership Team</a>
            <a href="about-us/partners.html" data-local-link="about-us/partners.html">Partners &amp; Accreditations</a>
            <a href="recruitment.html" data-local-link="recruitment.html">Work for Us</a>
</div>
        </div>

        <div class="dropdown">
          <a href="contact-us/visit-our-centre.html" data-local-link="contact-us/visit-our-centre.html"><span>Contact Us</span><i class="fa-solid fa-chevron-down"></i></a>
          <div class="dropdown-menu">
            <a href="contact-us/visit-our-centre.html" data-local-link="contact-us/visit-our-centre.html">Visit Our Center</a>
            <a href="contact-us/request-info.html" data-local-link="contact-us/request-info.html">Request Information</a>
            <a href="contact-us/book-cons.html" data-local-link="contact-us/book-cons.html">Book a Consultation</a>
          </div>
        </div>


        <a class="language-toggle eacc-language-toggle notranslate" id="languageToggle" href="/ar/index.html" data-local-link="ar/index.html" data-language-switch aria-label="Switch website language to Arabic" translate="no" data-no-translate><i class="fa-solid fa-globe" aria-hidden="true"></i><span id="languageToggleText">AR</span></a>

        <div class="nav-cta-group">
          <a href="https://lms.eacc-egy.com/login.php" class="nav-lms" data-external-link="https://lms.eacc-egy.com/login.php" data-local-link="https://lms.eacc-egy.com/login.php">
            <i class="fa-solid fa-laptop" aria-hidden="true"></i>
            <span>LMS</span>
          </a>
        </div>

      </nav>

      <button type="button" class="mobile-toggle" id="mobileToggle" aria-label="Open menu" aria-expanded="false" aria-controls="navLinks">
        <span class="mobile-toggle-line"></span>
        <span class="mobile-toggle-line"></span>
        <span class="mobile-toggle-line"></span>
      </button>

    </div>

  </header>
